<!DOCTYPE html>
<html lang="cs" style="height: 100%;">
<head>
    <meta charset="utf-8">
</head>
<body style="margin: 0; font-family: Arial; font-size: 12px; width: 565px; color: #001028; height: 810px; position: relative;">
<header style="margin-bottom: 30px; padding: 10px 0; display: table; clear: both; width: 100%;">
    <div style="margin-bottom: 10px; text-align: center;">
        <img src="{$host}/images/logo.png">
    </div>
    <h1 style="text-transform: uppercase; border-bottom: 1px solid #5d6975; border-top: 1px solid #5d6975; color: #5d6975; font-size: 2.4em; font-weight: normal; line-height: 1.4em; margin: 0 0 20px; text-align: center;">
        faktura č. {str_pad($order->no, 5, 0, STR_PAD_LEFT)}
    </h1>
    <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td align="left" valign="top">
                <p style="color: #5d6975; text-transform: uppercase;">
                    odběratel
                </p>
                <p>
                    {$order->name} {$order->surname} <br>
                    {$order->street} <br>
                    {$order->psc} {$order->city} <br>
                    {$order->email} <br>
                    {$order->phone} <br><br>
                </p>
                {*}<p>
                    IČ: 76430103<br>
                    neptátce DPH
                </p>{*}
            </td>
            <td align="right" valign="top">
                <p style="color: #5d6975; text-transform: uppercase;">
                    dodavatel
                </p>
                <p>
                    EXPRES MENU, s.r.o.<br>
                    Lomní 355<br>
                    54101 Trutnov <br><br>
                </p>
                <p>
                    IČ: 25927078<br>
                    DIČ: CZ25927078<br><br>
                </p>
                <p>
                    Podnikatel zapsán v živ. rejstříku MÚ Trutnov
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="width: 100%; margin-top: 30px;" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td valign="top" style="color: #5d6975; display: inline-block; margin-right: 10px; width: 120px; text-transform: uppercase;">
                forma úhrady <br>
                číslo účtu <br>
                variabilní symbol
            </td>
            <td valign="top">
                {$method->name} <br>
                2500354111/2010 <br>
                {str_pad($order->no, 5, 0, STR_PAD_LEFT)}
            </td>
            <td align="right" valign="top">
                {*$order->date|date:"j. n. Y"} <br>
                {date("j. n. Y", strtotime("+7 days", strtotime($order->date)))*}
                {date("j. n. Y", strtotime("now"))}
            </td>
            <td align="right" valign="top"  style="text-align: right; color: #5d6975; display: inline-block; margin-left: 10px; width: 120px; text-transform: uppercase;">
                {*}datum vystavení <br>
                splatnost{*}
                zaplaceno
            </td>
        </tr>
        </tbody>
    </table>
</header>

<main>
    <table style="border-collapse: collapse; border-spacing: 0; margin-bottom: 20px; width: 100%;">
        <thead>
        <tr>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: left; font-size: 0.8em;">
                položka
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em;">
                množství
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em;">
                cena bez DPH
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em;">
                DPH %
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em;">
                DPH/ks
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em;">
                Součet
            </th>
        </tr>
        </thead>
        <tbody>
        {var $amount = 0}
        {var $price = 0}
        {var $tax = 0}

        {foreach $order->related("orders_products") as $product}
            <tr>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 20px; text-align: left; vertical-align: top; width: 44%;">
                    {$product->products->name}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 20px; text-align: right; font-size: 1.2em; width: 15%;">
                    {var $amount += $product->amount}

                    {$product->amount}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 20px; text-align: right; width: 13%;">
                    {var $price += $product->price - ($product->price * ($product->products->tax / (100 + $product->products->tax)))}

                    {$product->price - ($product->price * ($product->products->tax / (100 + $product->products->tax)))|number:$decimals:",":" "} {$currency}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 20px; text-align: right; width: 13%;">
                    {$product->products->tax} %
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 20px; text-align: right; width: 12%;">
                    {var $tax += $product->price * ($product->products->tax / (100 + $product->products->tax))}

                    {$product->price * ($product->products->tax / (100 + $product->products->tax))|number:$decimals:",":" "} {$currency}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 20px; text-align: right; width: 16%;">
                    {$product->price|number:$decimals:",":" "} {$currency}
                </td>
            </tr>
        {/foreach}

        <tr>
            <td style="text-transform: uppercase; background: #f5f5f5; border-top: 1px solid #5d6975; font-size: 1.2em; padding: 20px; text-align: right;" colspan="4">
                celkem <br>
                DPH <br>
                celkem s DPH
            </td>
            <td style="background: #f5f5f5; border-top: 1px solid #5d6975; font-size: 1.2em; padding: 20px; text-align: right;">
                {$price|number:$decimals:",":" "} {$currency} <br>
                {$tax|number:$decimals:",":" "} {$currency} <br>
                {$order->price|number:$decimals:",":" "} {$currency}
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer style="width: 86%; border-top: 1px solid #c1ced9; bottom: 0; color: #5d6975; height: 30px; padding: 8px 0; position: absolute; text-align: center;">
    Petr Sogel, +420 603 145 729, info@expresmenu.com
</footer>
</body>
</html>