<!DOCTYPE html>
<html lang="cs" style="height: 100%;">
<head>
    <meta charset="utf-8">
</head>
<body style="margin: 0; font-family: Arial; font-size: 12px; width: 565px; color: #001028; height: 810px; position: relative;">
<header style="margin-bottom: 30px; padding: 10px 0; display: table; clear: both; width: 100%;">
    {*<div style="margin-bottom: 10px; text-align: center;">*}
        {*<img src="{$host}/images/logo.png">*}
    {*</div>*}
    <h1 style="text-transform: uppercase; border-bottom: 1px solid #5d6975; border-top: 1px solid #5d6975; color: #5d6975; font-size: 2.4em; font-weight: normal; line-height: 1.4em; margin: 0 0 20px; text-align: center;">
        daňový doklad č. {str_pad($order->no, 5, 0, STR_PAD_LEFT)}
    </h1>
    <table style="width: 100%; font-family: Arial; font-size: 12px;" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td align="left" valign="top" style=" font-size: 14px; font-weight: bold;">
                <p style="color: #5d6975; text-transform: uppercase;">
                    odběratel
                </p>
                <p>
                    {$order->name} {$order->surname} <br>
                    {$order->street} <br>
                    {$order->psc} {$order->city} <br>
                    {$order->email} <br>
                    {$order->phone} <br><br>
                </p>
                <p style="color: #5d6975; text-transform: uppercase;">
                    doručovací údaje
                </p>
                <p>
                    {$order->delivery_name?: $order->name} {$order->delivery_surname?: $order->surname} <br>
                    {$order->delivery_street?: $order->street} <br>
                    {$order->delivery_psc?: $order->psc} {$order->delivery_city?: $order->city} <br><br>
                </p>
                <p style="color: #5d6975; text-transform: uppercase;">
                    poznámka
                </p>
                <p>
                    {$order->text} <br><br>
                </p>
                {*}<p>
                    IČ: 76430103<br>
                    neptátce DPH
                </p>{*}
            </td>
            <td align="right" valign="top" style=" font-size: 14px;">
                <p style="color: #5d6975; text-transform: uppercase; font-weight: bold;">
                    dodavatel
                </p>
                <p style="font-weight: bold;">
                    EXPRES MENU, s.r.o.<br>
                    Lomní 355<br>
                    54101 Trutnov <br><br>
                </p>
                <p>
                    IČ: 25927078<br>
                    DIČ: CZ25927078<br>
                    Peněžní ústav: FIO banka<br>
                    IBAN/SWIFT: CZ0620100000002500878134/ FIOBCZPPXXX <br><br>
                </p>
                <p>
                    Zápis u OR KS Hradec Králové, odd. C, vl. 15009
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="width: 100%; margin-top: 30px;" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td valign="top" style="color: #5d6975; display: inline-block; margin-right: 10px; width: 120px;">
                objednáno dne <br>
                způsob dopravy <br>
                forma úhrady <br>
                číslo účtu <br>
                variabilní symbol
            </td>
            <td valign="top">
                {$order->date|date:"j. n. Y"} <br>
                <span style=" text-transform: uppercase;">{$transport->name}</span> <br>
                {$method->name} <br>
                2500354111/2010 <br>
                {str_pad($order->no, 5, 0, STR_PAD_LEFT)}
            </td>
            <td align="right" valign="top">
                {date("j. n. Y", strtotime("+14 days", strtotime($order->date)))} <br>
                {$order->date|date:"j. n. Y"} <br>
                {$order->date|date:"j. n. Y"}
            </td>
            <td align="right" valign="top"  style="text-align: right; color: #5d6975; display: inline-block; margin-left: 10px; width: 120px;">
                datum splatnosti <br>
                datum vystavení <br>
                datum plnění
            </td>
        </tr>
        </tbody>
    </table>
</header>

<main>
    <table style="border-collapse: collapse; border-spacing: 0; margin-bottom: 20px; width: 100%;">
        <thead>
        <tr>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: left; font-size: 0.8em;">
                položka
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em; text-align: right;">
                množství
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em; text-align: right;">
                cena bez DPH
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em; text-align: right;">
                DPH %
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em; text-align: right;">
                DPH/ks
            </th>
            <th style="border-bottom: 1px solid #c1ced9; color: #5d6975; font-weight: normal; padding: 5px 20px; text-transform: uppercase; text-align: center; font-size: 0.8em; text-align: right;">
                Součet
            </th>
        </tr>
        </thead>
        <tbody>
        {var $amount = 0}
        {var $price = 0}
        {var $price15 = 0}
        {var $price21 = 0}
        {var $tax = 0}
        {var $tax15 = 0}
        {var $tax21 = 0}
        {var $i = 1}

        {foreach $order->related("orders_products") as $product}
            <tr>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 5px 20px; text-align: left; vertical-align: top; width: 33%;">
                    {$product->products->name} {if $product->products->meals}({$product->products->meals}p){/if}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; font-size: 1.2em; width: 15%;">
                    {var $amount += $product->amount}

                    {$product->amount}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 16%;">
                    {var $price += ($product->price - ($product->price * ($product->products->tax / (100 + $product->products->tax)))) * $product->amount}

                    {if $product->products->tax == 15}
                        {var $price15 += ($product->price - ($product->price * ($product->products->tax / (100 + $product->products->tax)))) * $product->amount}
                    {else}
                        {var $price21 += ($product->price - ($product->price * ($product->products->tax / (100 + $product->products->tax)))) * $product->amount}
                    {/if}

                    {$product->price - ($product->price * ($product->products->tax / (100 + $product->products->tax)))|number:$decimals:",":" "}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 10%;">
                    {$product->products->tax}%
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 11%;">
                    {var $tax += $product->price * ($product->products->tax / (100 + $product->products->tax))}

                    {if $product->products->tax == 15}
                        {var $tax15 += ($product->price * ($product->products->tax / (100 + $product->products->tax))) * $product->amount}
                    {else}
                        {var $tax21 += ($product->price * ($product->products->tax / (100 + $product->products->tax))) * $product->amount}
                    {/if}

                    {$product->price * ($product->products->tax / (100 + $product->products->tax))|number:$decimals:",":" "}
                </td>
                <td style="{if $iterator->odd}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 14%;">
                    {$product->price * $product->amount|number:$decimals:",":" "}
                </td>
            </tr>

            {var $i = $iterator->counter}
        {/foreach}

        <tr>
            <td style="{if $i % 2 == 0}background: #f5f5f5;{/if} padding: 5px 20px; text-align: left; vertical-align: top; width: 30%;">
                Poštovné
            </td>
            <td style="{if $i % 2 == 0}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; font-size: 1.2em; width: 15%;">
                1
            </td>
            <td style="{if $i % 2 == 0}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 16%;">
                {var $price += $order->transport - ($order->transport * (15 / 115))}
                {var $price15 += $order->transport - ($order->transport * (15 / 115))}

                {$order->transport - ($order->transport * (15 / 115))|number:$decimals:",":" "}
            </td>
            <td style="{if $i % 2 == 0}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 12%;">
                15%
            </td>
            <td style="{if $i % 2 == 0}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 12%;">
                {var $tax += $order->transport * (15 / 115)}
                {var $tax15 += $order->transport * (15 / 115)}

                {$order->transport * (15 / 115)|number:$decimals:",":" "}
            </td>
            <td style="{if $i % 2 == 0}background: #f5f5f5;{/if} padding: 5px 20px; text-align: right; width: 14%;">
                {$order->transport|number:$decimals:",":" "}
            </td>
        </tr>
        
        <tr>
            <td style="border-top: 1px solid #c1ced9; padding: 5px 20px; text-align: left; vertical-align: top; width: 30%;">
                Počet položek k expedici
            </td>
            <td style="border-top: 1px solid #c1ced9; padding: 5px 20px; text-align: right; font-size: 1.2em; width: 15%;">
                {$amount}
            </td>
            <td style="border-top: 1px solid #c1ced9; padding: 5px 20px; text-align: right;" colspan="4">
                
            </td>
        </tr>
        </tbody>
    </table>
    
    <table style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    	<tbody>
    	<tr>
    		<td>
    		</td>
    		<td align="right">
				<table style="border-collapse: collapse; border-spacing: 0; margin-bottom: 20px; width: 60%;">
			        <tbody>
			        <tr>
			            <td style="background: #f5f5f5; border-top: 1px solid #5d6975; padding: 20px 5px 5px 5px; text-align: right; font-size: 0.8em;" colspan="3">
			            </td>
			            <td style="background: #f5f5f5; border-top: 1px solid #5d6975; padding: 20px 5px 5px 5px; text-align: right; font-size: 0.8em; font-weight: bold;">
			                Cena bez DPH
			            </td>
			            <td style="background: #f5f5f5; border-top: 1px solid #5d6975; padding: 20px 5px 5px 5px; text-align: right; font-size: 0.8em; font-weight: bold;">
			                DPH
			            </td>
			            <td style="background: #f5f5f5; border-top: 1px solid #5d6975; padding: 20px 20px 5px 5px; text-align: right; font-size: 0.8em; font-weight: bold;">
			                Cena včetně DPH
			            </td>
			        </tr>
			
			        <tr>
			            <td style="background: #f5f5f5; padding: 0 5px 5px 5px; text-align: right;" colspan="3">
			                DPH 21%
			            </td>
			            <td style="background: #f5f5f5; padding: 0 5px 5px 5px; text-align: right;">
			                {$price21|number:$decimals:",":" "} {$currency}
			            </td>
			            <td style="background: #f5f5f5; padding: 0 5px 5px 5px; text-align: right;">
			                {$tax21|number:$decimals:",":" "} {$currency}
			            </td>
			            <td style="background: #f5f5f5; padding: 0 20px 5px 5px; text-align: right;">
			                {($price21 + $tax21)|number:$decimals:",":" "} {$currency}
			            </td>
			        </tr>
			
			        <tr>
			            <td style="background: #f5f5f5; padding: 0 5px 5px 5px; text-align: right;" colspan="3">
			                DPH 15%
			            </td>
			            <td style="background: #f5f5f5; padding: 0 5px 5px 5px; text-align: right;">
			                {$price15|number:$decimals:",":" "} {$currency}
			            </td>
			            <td style="background: #f5f5f5; padding: 0 5px 5px 5px; text-align: right;">
			                {$tax15|number:$decimals:",":" "} {$currency}
			            </td>
			            <td style="background: #f5f5f5; padding: 0 20px 5px 5px; text-align: right;">
			                {($price15 + $tax15)|number:$decimals:",":" "} {$currency}
			            </td>
			        </tr>
			
			        <tr>
			            <td style="background: #f5f5f5; padding: 5px 5px 5px 5px; text-align: right; font-weight: bold; border-top: 1px solid #c1ced9;" colspan="3">
			                Celkem k úhradě
			            </td>
			            <td style="background: #f5f5f5; padding: 5px 5px 5px 5px; text-align: right; font-weight: bold; border-top: 1px solid #c1ced9;">
			
			            </td>
			            <td style="background: #f5f5f5; padding: 5px 5px 5px 5px; text-align: right; font-weight: bold; border-top: 1px solid #c1ced9;">
			
			            </td>
			            <td style="background: #f5f5f5; padding: 5px 20px 5px 5px; text-align: right; font-weight: bold; border-top: 1px solid #c1ced9;">
			                {$order->price + $order->transport|number:$decimals:",":" "} {$currency}
			            </td>
			        </tr>
			        </tbody>
			    </table>
			</td>
		</tr>
		</tbody>
	</table>

</main>

<footer style="width: 86%; border-top: 1px solid #c1ced9; bottom: 0; color: #5d6975; height: 30px; padding: 8px 0; position: absolute; text-align: center;">
    <strong>POTRAVINY BEZ LEPKU.</strong> Vystavil: Hubáčková Alena, Email: provoz@expresmenu.com, Tel: 499 819 219
</footer>
</body>
</html>