<div id="contact-form">
	{snippet form}
		{control contactForm}
		
		<script>nospam();</script>
	{/snippet}
	
	<p class="no-margin">
		<i class="fa fa-asterisk text-danger"></i>&nbsp; {_'povinné'}
	</p>
</div>