<div id="tags-filter" class="well">
	{snippet url}
		{ifset $url}
			<script>changeUrl({$url});</script>
		{/ifset}
	{/snippet}

	<p>
		<strong>{_"Vyhledat pouze jídla bez těchto alergenů"}:</strong>
		<img src="{$basePath}/images/gluten.png" alt="" class="pull-right">
	</p>

	{control filterForm}

	<p class="no-margin">
		<em>
			({_"Všechna jídla jsou standardně <a href=''>bezlepková</a>."|noescape})
		</em>
	</p>
</div>