<ul class="nav nav-tabs">
  <li class="{ifCurrent Users:edit}active{/ifCurrent}"><a href="{link edit}">Účet</a></li>
  <li class="{ifCurrent Users:orders}active{/ifCurrent}{ifCurrent Users:order}active{/ifCurrent}"><a href="{link orders}">Objednávky</a></li>
  <li class="{ifCurrent Users:changePassword}active{/ifCurrent}"><a href="{link changePassword}">Změna hesla</a></li>
  <li class="{ifCurrent Users:avatar}active{/ifCurrent}"><a href="{link avatar}">Avatar</a></li>
</ul>
