{var $url = 'url'.$presenter->lang}
{var $defaultUrl = 'url'.$defaultLang}
{var $name = 'name'.$presenter->lang}
{var $defaultName = 'name'.$defaultLang}
{var $description = 'description'.$presenter->lang}
{var $defaultDescription = 'description'.$defaultLang}

<div class="articles layout4 row">
	{foreach $articles as $article}
		{$control->getUrl($article)}
		
		<div class="article col-xs-{$cols}">			
			{var $thumb = $control->getThumb($article, 1)}
			{var $image = $control->getImages($article, true)}
			
			{if $image && $thumb}
				<div class="row">
					<div class="col-xs-12">					
						<p class="img no-margin">
							<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article->id|nosafeurl}">
								<img src="{$basePath}/files/galleries/{$thumb}_g{$image->galleries}-{$image->name}" alt="{$image->title}" class="img-responsive" />
							</a>
						</p>
					</div>
				</div>
			{/if}
			
			{if $article->sections->visName || $article->sections->date}
				<div class="row">
					{if $article->sections->visName}		
						<div class="name col-xs-12">
							<h3 class="h4 no-margin clearfix">
								<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article->id|nosafeurl}">
									{!$article->$name ?: ($article->$defaultName ?: $article->name)|nbsp}
									<span class="fa-stack pull-right">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-arrow-right fa-stack-1x text-warning"></i>
									</span>
								</a>
							</h3>
						</div>
					{/if}
				</div>
			{/if}
			
			{*{if $article->sections->date || $article->sections->description}*}
				{*<div class="row">*}
					{*<div class="col-xs-12">*}
						{*{if $article->sections->date}*}
							{*<p class="date">*}
								{*{$article->date|date: 'j. n. Y'}*}
							{*</p>*}
						{*{/if}*}
						{**}
						{*{if $article->sections->description}*}
							{*<p class="no-margin">*}
								{*{!$article->$description ?: ($article->$defaultDescription ?: $article->description)|nbsp}*}
							{*</p>*}
						{*{/if}*}
					{*</div>*}
				{*</div>*}
			{*{/if}*}
		</div>
		
		{if $iterator->counter %$clearfix == 0 || $iterator->last}
			<div class="clearfix"></div>
		{/if}
	{/foreach}
	
	{if $control->module->paginator}
		{control paginator}
	{/if}
</div>