{var $url = 'url'.$presenter->lang}
{var $defaultUrl = 'url'.$defaultLang}
{var $name = 'name'.$presenter->lang}
{var $defaultName = 'name'.$defaultLang}
{var $description = 'description'.$presenter->lang}
{var $defaultDescription = 'description'.$defaultLang}

<div class="articles layout3 row">
	{foreach $articles as $article}
		{$control->getUrl($article)}
		
		<div class="article col-xs-{$cols}">
			{if $article->sections->visName || $article->sections->date}
				<div class="row">
					{if $article->sections->visName}		
						<div class="name col-xs-{if $article->sections->date}9{else}12{/if}">
							<h3 class="no-margin-top h4">
								<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article->id|nosafeurl}" class="text-warning">
									{!$article->$name ?: ($article->$defaultName ?: $article->name)|nbsp}
								</a>
							</h3>
						</div>
					{/if}
			
					{if $article->sections->date}
						<div class="date col-xs-3 {if !$article->sections->visName}col-xs-offset-9{/if}">
							<p class="text-right">
								{$article->date|date: 'j. n. Y'}
							</p>
						</div>
					{/if}
				</div>
			{/if}
			
			{var $thumb = $control->getThumb($article, 1)}
			{var $image = $control->getImages($article, true)}
			
			{if $image && $thumb}
				<div class="row">
					<div class="col-xs-12">					
						<p class="img">
							<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article->id|nosafeurl}">
								<img src="{$basePath}/files/galleries/{$thumb}_g{$image->galleries}-{$image->name}" alt="{$image->title}" class="img-responsive" />
							</a>
						</p>
					</div>
				</div>
			{/if}
			
			{if $article->sections->description}
				<div class="row">					
					<div class="description col-xs-12">
						<p class="no-margin">
							{!$article->$description ?: ($article->$defaultDescription ?: $article->description)|nbsp}
						</p>
					</div>
				</div>
			{/if}
		</div>
		
		{if $iterator->counter %$clearfix == 0 || $iterator->last}
			<div class="clearfix"></div>
		{/if}
	{/foreach}

	<div class="text-right col-sm-12">
		<a href="{plink Page: url => $control->url}">
			<strong>všechna videa</strong>
			<span class="fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</div>
	
	{if $control->module->paginator}
		{control paginator}
	{/if}
</div>