{var $url = 'url'.$presenter->lang}
{var $defaultUrl = 'url'.$defaultLang}
{var $name = 'name'.$presenter->lang}
{var $defaultName = 'name'.$defaultLang}
{var $description = 'description'.$presenter->lang}
{var $defaultDescription = 'description'.$defaultLang}

<div class="articles layout2 row">
	<div class="editor-menu col-sm-3">
		{var $pid = count($presenter->pages) > 1 ? $presenter->page->pid : $presenter->page->id}

		{$presenter["menu"]->render(array("pid" => $pid, "level" => 1))}
	</div>

	<div class="col-sm-9">
		<h1 class="h2 no-margin-top">{$presenter->page->name}</h1>

	    <div class="row">
	        {foreach $articles as $article}
        		{$control->getUrl($article)}

        		<div class="article col-xs-{$cols}">
        			<div class="clearfix">
        			    <div class="row">
            				{var $thumb = $control->getThumb($article, 2)}
            				{var $image = $control->getImages($article, true)}

            				{if $image}
            					<div class="col-xs-5">
            						<p class="img no-margin">
            							{*<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article|nosafeurl}">*}
            							<a href="{$article->link}" target="_blank">
            								<img src="{$basePath}/files/galleries/{$thumb}_g{$image->galleries}-{$image->name}" alt="{$image->title}" class="img-responsive" />
            							</a>
            						</p>
            					</div>
            				{/if}

            				<div class="col-xs-{if $image && $thumb}7{else}12{/if}">
            					{if $article->sections->date}
            						<div class="date">
            							<p>
            								{$article->date|date: 'j. n. Y'}
            							</p>
            						</div>
            					{/if}

            					{if $article->sections->visName}
            						<div class="name">
            							<h3 class="no-margin-top">
            								{*<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article|nosafeurl}">*}
											<a href="{$article->link}" target="_blank">
            									{!$article->$name ?: ($article->$defaultName ?: $article->name)|nbsp}
            								</a>
            							</h3>
            						</div>
            					{/if}

            					{if $article->sections->description}
            						<div class='description'>
            							<p>
            								{!$article->$description ?: ($article->$defaultDescription ?: $article->description)|nbsp}
            							</p>
            						</div>
            					{/if}

    							<p class="no-margin-bottom text-right">
    								{*<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article|nosafeurl}">*}
									<a href="{$article->link}" target="_blank">
    									<strong>celý článek</strong>
    									<span class="fa-stack">
    										<i class="fa fa-stack-2x fa-circle"></i>
    										<i class="fa fa-stack-1x fa-arrow-right fa-inverse"></i>
    									</span>
    								</a>
    							</p>
            				</div>
            			</div>
        			</div>
        		</div>

        		{if $iterator->counter %$clearfix == 0 || $iterator->last}
        			<div class="clearfix"></div>
        		{/if}
        	{/foreach}
	    </div>
	</div>
	
	{if $control->module->paginator}
		{control paginator}
	{/if}
</div>