{var $url = 'url'.$presenter->lang}
{var $defaultUrl = 'url'.$defaultLang}
{var $name = 'name'.$presenter->lang}
{var $defaultName = 'name'.$defaultLang}
{var $description = 'description'.$presenter->lang}
{var $defaultDescription = 'description'.$defaultLang}

<div class="articles layout1 row">
	{foreach $articles as $article}	
		{$control->getUrl($article)}
		
		<div class="article col-xs-{$cols}">
			{if $article->sections->date}
				<div class="row">
					<div class="date col-xs-12">
						<p>
							{$article->date|date: 'j. n. Y'}
						</p>
					</div>
				</div>
			{/if}
				
			<div class="row">
				{var $thumb = $control->getThumb($article, 1)}
				{var $image = $control->getImages($article, true)}
				
				{if $image && $thumb}
					<div class="col-xs-5">
						<p class="img no-margin">
							<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article->id|nosafeurl}">
								<img src="{$basePath}/files/galleries/{$thumb}_g{$image->galleries}-{$image->name}" alt="{$image->title}" class="img-responsive" />
							</a>
						</p>
					</div>
				{/if}
				
				<div class="col-xs-{if $image && $thumb}7{else}12{/if}">
					{if $article->sections->visName}
						<h3 class="no-margin">
							<span class="pull-left">
								{!$article->$name ?: ($article->$defaultName ?: $article->name)|nbsp}
							</span>
							<a href="{plink Page: url => $control->url, article => ($article->$url ?: ($article->$defaultUrl ?: $article->url)), aid => $article->id|nosafeurl}" class="pull-right">
								<strong>více informací</strong>&nbsp;
								<span class="fa-stack">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-arrow-right fa-stack-1x fa-inverse text-warning"></i>
								</span>
							</a>
						</h3>
					{/if}
					
					{if $article->sections->description}
						<div class="description">
							<p class="no-margin">
								{!$article->$description ?: ($article->$defaultDescription ?: $article->description)|nbsp}
							</p>
						</div>
					{/if}
				</div>
			</div>
		</div>
		
		{if $iterator->counter %$clearfix == 0 || $iterator->last}
			<div class="clearfix"></div>
		{/if}
	{/foreach}
	
	{if $control->module->paginator}
		{control paginator}
	{/if}
</div>