{block #booking}
	<div class="content">
		<p>
			<a href="{link Rooms:add $presenter->urlID}" class="btn btn-primary">
				<i class="fa fa-plus"></i>&nbsp; Přidat
			</a>
		</p>
		
		{control rooms}
	</div>