{block #content}
	{include menu.latte}
	
	<div class="col-sm-8">
		<div class="content">
			<p>
				<a href="{link Mailing:add}" class="btn btn-primary">
					<i class="fa fa-plus"></i>&nbsp; Přidat
				</a>
			</p>
			
			{control grid}
		</div>
	</div>