webloader:
	css:
		front:
			remoteFiles:
				- //cdn.hucr.cz/font-awesome/4.5.0/css/font-awesome.min.css
				- //cdn.hucr.cz/fancybox/2.1.5/source/jquery.fancybox.css
				- //cdn.hucr.cz/jquery/ui/1.10.0/themes/smoothness/jquery-ui.css
			files:
				- jquery-ui.less
				- bootstrap/bootstrap.less
				- common.less
				- screen.less
				- {files: ["*.css"], from: %wwwDir%/css}
			fileFilters:
				- @lessFilter
			filters:
				- @wlCssFilter
			joinFiles: false
		admin:
			remoteFiles:
				- //cdn.hucr.cz/jquery/ui/1.10.0/themes/smoothness/jquery-ui.css
				- //cdn.hucr.cz/chosen/1.1.0/chosen.css
				- //cdn.hucr.cz/plupload/2.1.7/js/jquery.plupload.queue/css/jquery.plupload.queue.css
				- //cdn.hucr.cz/font-awesome/4.5.0/css/font-awesome.min.css
				- //cdn.hucr.cz/flag-icon-css/css/flag-icon.min.css
				- //cdn.hucr.cz/fancybox/2.1.5/source/jquery.fancybox.css
			files:
				- %wwwDir%/adminModule/css/bootstrap/bootstrap.less
				- %wwwDir%/adminModule/css/screen.less
				- {files: ["*.css"], from:  %wwwDir%/adminModule/css}
				- %wwwDir%/css/cropper.css
			fileFilters:
				- @lessFilter
			filters:
				- @wlCssFilter
			joinFiles: false
			tempDir: %wwwDir%/adminModule/webtemp
			tempPath: %wwwDir%/adminModule/webtemp
	js:
		front:
			remoteFiles:
				- //cdn.hucr.cz/jquery/1.8.3/jquery-1.8.3.min.js
				- //cdn.hucr.cz/jquery/ui/1.10.0/jquery-ui.min.js
				- //cdn.hucr.cz/bootstrap/3.2.0/dist/js/bootstrap.min.js
				- //cdn.hucr.cz/fancybox/2.1.5/source/jquery.fancybox.pack.js
				- //cdn.hucr.cz/plupload/2.1.7/js/plupload.full.min.js
			files:
				- {files: ["*.js"], exclude: "fce.js", from: %wwwDir%/js}
				- %wwwDir%/fce.js
		admin:
			remoteFiles:
				- //cdn.hucr.cz/jquery/1.8.3/jquery-1.8.3.min.js
				- //cdn.hucr.cz/jquery/ui/1.10.0/jquery-ui.min.js
				- //cdn.hucr.cz/chosen/1.1.0/chosen.jquery.min.js
				- //cdn.hucr.cz/fancybox/2.1.5/source/jquery.fancybox.pack.js
				- //cdn.hucr.cz/plupload/2.1.7/js/plupload.full.min.js
				- //cdn.hucr.cz/plupload/2.1.7/js/jquery.plupload.queue/jquery.plupload.queue.min.js
				- //cdn.hucr.cz/plupload/2.1.7/js/i18n/cs.js
				- //cdn.hucr.cz/bootstrap/3.2.0/dist/js/bootstrap.min.js
			files:
				- %wwwDir%/js/nette.ajax.js
				- %wwwDir%/js/livequery.js
				- %wwwDir%/js/cropper.js
				- {files: ["*.js"], from: %wwwDir%/adminModule/js}
			tempDir: %wwwDir%/adminModule/webtemp
			tempPath: %wwwDir%/adminModule/webtemp