{block #eshop}
	<div class="content">
		<fieldset>
			<legend>Kategorie pro Zboží.cz</legend>
		</fieldset>
		
		<div class="row">			
			<div class="col-sm-12">
				{control categories}
			</div>
		</div>
	</div>