{block #content}
	<div id="layout2">
		<div class="clearfix container">
			<div class="row">
				<div id="left" class="col-xs-6">
					{control block1}
				</div>
				
				<div id="right" class="col-xs-6">
					{control block2}
				</div>
			</div>
		</div>
	</div>