{block #content}
	<div id="layout9">
		<div class="clearfix container">
			<div class="row">		
				<div class="left col-xs-6">
					<div class="row">
						<div class="col-xs-12">
							{control block1}
						</div>
						
						<div class="col-xs-12">
							{control block2}
						</div>
					</div>
				</div>
				
				<div class="right col-xs-6">
					{control block3}
				</div>
			</div>
		</div>
	</div>