{block #content}
	<div id="layout6">
		<div class="clearfix container">
			<div class="row">
				<div id="top" class="col-xs-12">
					{control block1}
				</div>
			</div>
		</div>
		
		<div class="clearfix container">
			<div class="row">
				<div id="middle" class="col-xs-12">
					{control block2}
				</div>
			</div>
		</div>
		
		<div class="clearfix container">
			<div class="row">
				<div id="bottom" class="col-xs-12">
					{control block3}
				</div>
			</div>
		</div>
	</div>