{block #content}
	{include menu.latte}
	
	<div class="commonpage">
		<div class="col-sm-12 {if $rightbar}col-md-8 col-lg-9{/if}">
			<div class="content">
				<p>
					<a href="{plink Structure:add}" class="btn btn-primary">
						<i class="fa fa-plus"></i>&nbsp; Přidat
					</a>
				</p>
		
				{control grid}
			</div>
		</div>
	</div>