<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	
	<body>
		<h1>Nový odběratel newsletteru</h1>
		
		<p>
			Email <strong>{$email}</strong> se přihlásil k odběru newsletteru.
		</p>
	</body>
</html>