<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	
	<body>
		<h1>Přihlášení k odběru newsletteru</h1>
		
		<p>
			Přihlásil jste se k odběru novinek na našich stránkách.
		</p>

		<p>
			Pro zrušení odběru klikněte <a href="{plink //:Front:Page: do => "newsletter-cancel", email => $values["email"]}">zde</a>.
		</p>
	</body>
</html>