{*
    šablona platby předem
*}

{define content}
    <p>
        Dobrý den, <br />
        děkujeme za objednávku na našem e-shopu. O průběhu zpracování objednávky vás budeme informovat.
    </p>
{/define}