<div id="search" class="clearfix pull-right">
	{form searchForm}
		<div class="">				
			{input q class => "form-control autocomplete", placeholder => "vyhledat..."}
			{input search class => "hidden"}
			
			{*}
			<span class="input-group-btn">
	        	<button class="btn btn-primary" type="submit" name="search"><i class="fa fa-search"></i></button>
	      	</span>
	      	{*}
	    </div>
	{/form}
</div>