<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title></title>
</head>

<body style="background-color: #e6e6e6; margin: 0; padding: 20px;">
<table style="width: 670px; border-spacing: 0; border: none; font-size: 14px; font-family: sans-serif, arial, verdana; background-color: #fff;">
    {*<tr>*}
    {*<td colspan="2" style="text-align: center; padding: 30px;">*}
    {*<img src="{$host}/images/logo.png">*}
    {*</td>*}
    {*</tr>*}
    {*<tr>*}
    {*<td style="background-color: #859182; height: 8px; padding: 0;" colspan="2"></td>*}
    {*</tr>*}
    <tr>
        <td style="padding: 30px 30px 0; font-weight: bold;" colspan="2">
            Szanowny Kliencie,<br/><br/>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 30px 30px;" colspan="2">
            Twoje zamówienie nr {$order->no} zostało dziś wysłane. W przypadku jakichkolwiek problemów z dostarczeniem towaru, prosimy o kontakt.
        </td>
    </tr>
    <tr>
        <td style="background-color: #859182; height: 1px; padding: 0;" colspan="2"></td>
    </tr>
    <tr>
        <td style="padding: 15px 30px 0; font-weight: bold" colspan="2">
            Zamówiony towar
        </td>
    </tr>
    <tr>
        <td style="padding: 0 30px 15px;" colspan="2">
            <table style="width: 100%; border-spacing: 0; border: none; font-size: 14px; font-family: sans-serif, arial, verdana;">
                <thead>
                <th style="color: #859182; text-align: left; width: 40%;">
                    <em>Nazwa</em>
                </th>
                <th style="color: #859182; text-align: left; width: 20%;">
                    <em>Cena</em>
                </th>
                <th style="color: #859182; text-align: left; width: 20%;">
                    <em>Ilość</em>
                </th>
                <th style="color: #859182; text-align: left; width: 20%;">
                    <em>W sumie</em>
                </th>
                </thead>
                <tbody>
                {var $name = "name".$lang}
                {var $defaultName = "name".$defaultLang}

                {foreach $order->related("orders_products") as $product}
                    <tr>
                        <td>
                            {$product->products->$name ?: ($product->products->$defaultName ?: $product->products->name)} {if $product->products->meals}({$product->products->meals}p){/if}<br>

                            <small>
                                <em>{$presenter->getProductProps($product->products->id)}</em>
                            </small>
                        </td>
                        <td>{$price = $product->price / $order->rate|number:$decimals:",":" "} {$currency}</td>
                        <td>{$product->amount}</td>
                        <td>{$price * $product->amount|number:$decimals:",":" "} {$currency}</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 0; background: #859182; height: 1px;" colspan="2"></td>
    </tr>
    <tr>
        <td style="padding: 15px 30px 0; font-weight: bold" colspan="2">
            Dostawa towaru
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 30px;" colspan="2">
			<h3>Dostawa Poczta Polska</h3>
            <p>
                Zamówiony towar zostanie do Ciebie dostarczony w ciągu 2 dni roboczych. W sobotę, niedziele i święta usługi. Kurierskie nie są świadczone. Dostawa towaru następuje w godzinach między 8.00 a 18.00. Jeśli listonosz.
            </p>

			<h3>Doručení Intime</h3>
			<p>
				Zboží Vám přiveze přepravce do 2 pracovních dnů. V sobotu, v neděli a o svátcích přepravní služba zboží nedoručuje. Čas doručení se pohybuje v intervalu 8:00 – 18:00. Termín dodání zboží Vám oznámí kurýr pomocí SMS nebo email avíza. 
			</p>
			
			<h3>Zásilkovna Slovensko</h3>
			<p>
				Objednávka byla odeslána na Vámi vybrané výdejní místo. Do dvou pracovních dnů očekávejte doručení Vaší objednávky na výdejní místo. Jakmile bude objednávka připravena k vyzvednutí, přijde Vám výzva k odběru ve formě SMS a emailu. Vyzvedněte si prosím Vaši objednávku na výdejním místě do 7 dnů, pakliže si jí nevyzvednete v této lhůtě, vrací se objednávka zpět k nám.
			</p>
			
			<h4>Důležité upozornění</h4>
			<p>
				Při přebírání zásilky prosím věnujte mimořádnou pozornost kontrole vnějšího balení. Pokud narazíte na jakýkoli náznak toho, že došlo k neoprávněnému vniknutí do zásilky, či možnému poškození během přepravy, oznamte tuto skutečnost řidiči před potvrzením přepravního listu. Trvejte na sepsání reklamačního protokolu, event. potvrzeném záznamu o stavu, v jakém byl balík doručen a o případných dalších poškozeních.
			</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 30px;" colspan="2">
            <em style="color: #859182; font-weight: bold;">Towar:</em> {$order->price / $order->rate|number:$decimals:",":" "} {$currency} <br>
            <em style="color: #859182; font-weight: bold;">Dostawa i płatność: ({$methods[$order->transport_id]} + {$methods[$order->payment_id]}):</em> {$order->transport / $order->rate|number:$decimals:",":" "} {$currency} <br>
            <em style="color: #859182; font-weight: bold;">Cena całkowita:</em> <strong>{($order->price + $order->transport) / $order->rate|number:$decimals:",":" "} {$currency}</strong> <br>
        </td>
    </tr>
    <tr>
        <td style="padding: 30px 0 15px 30px; width: 50%;">
            <table style="width: 100%; border-spacing: 0; border: none; font-size: 14px; font-family: sans-serif, arial, verdana;">
                <thead>
                <tr>
                    <th style="text-align: left;" colspan="2">
                        Dane do faktury
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 25%;">
                        Imię:
                    </td>
                    <td>{$order->name}</td>
                </tr>
                <tr>
                    <td>Nazwisko:</td>
                    <td>{$order->surname}</td>
                </tr>
                {if $order->company}
                    <tr>
                        <td>Firma:</td>
                        <td>{$order->company}</td>
                    </tr>
                {/if}
                {if $order->ic}
                    <tr>
                        <td>IČ:</td>
                        <td>{$order->ic}</td>
                    </tr>
                {/if}
                {if $order->dic}
                    <tr>
                        <td>NIP:</td>
                        <td>{$order->dic}</td>
                    </tr>
                {/if}
                <tr>
                    <td>Ulica:</td>
                    <td>{$order->street} {$order->street_number}</td>
                </tr>
                <tr>
                    <td>Miasto:</td>
                    <td>{$order->city}</td>
                </tr>
                <tr>
                    <td>Kod pocztowy:</td>
                    <td>{$order->psc}</td>
                </tr>
                <tr>
                    <td>Telefon:</td>
                    <td>{$order->phone}</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>{$order->email}</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="padding: 30px 30px 15px 0; width: 50%; vertical-align: top;">
            <table style="width: 100%; border-spacing: 0; border: none; font-size: 14px; font-family: sans-serif, arial, verdana;">
                <thead>
                <tr>
                    <th style="text-align: left;" colspan="2">
                        Dane do wysyłki
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 25%;">Imię:</td>
                    <td>
                        {if $order->delivery_name}
                            {$order->delivery_name}
                        {else}
                            {$order->name}
                        {/if}
                    </td>
                </tr>
                <tr>
                    <td>Nazwisko:</td>
                    <td>
                        {if $order->delivery_surname}
                            {$order->delivery_surname}
                        {else}
                            {$order->surname}
                        {/if}
                    </td>
                </tr>
                <tr>
                    <td>Ulica:</td>
                    <td>
                        {if $order->delivery_street}
                            {$order->delivery_street} {$order->delivery_street_number}
                        {else}
                            {$order->street} {$order->street_number}
                        {/if}
                    </td>
                </tr>
                <tr>
                    <td>Miasto:</td>
                    <td>
                        {if $order->delivery_city}
                            {$order->delivery_city}
                        {else}
                            {$order->city}
                        {/if}
                    </td>
                </tr>
                <tr>
                    <td>Kod pocztowy:</td>
                    <td>
                        {if $order->delivery_psc}
                            {$order->delivery_psc}
                        {else}
                            {$order->psc}
                        {/if}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 30px;" colspan="2">
            <strong>Uwagi</strong>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 30px 30px;" colspan="2">
            {$order->text}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="color: #859182; padding: 0 30px 30px;">
            <strong>Dziękujemy i życzymy miłego dnia.</strong><br><br>
            EXPRES MENU, s.r.o. <br>
            Email: <a href="mailto:provoz@expresmenu.com">provoz@expresmenu.com</a> <br>
            Tel.: +420 499 819 219 (pn.-pt.: 6.00 – 14.00)
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 15px 30px; background: #e6e6e6; color: #888888; text-align: center;">
            (Wiadomość ta została wygenerowana automatycznie. W przypadku pytań czy uwag dotyczących zamówienia, prosimy o kontakt pod adresem e-mailowym: <a href="mailto:provoz@expresmenu.com">provoz@expresmenu.com</a>)
        </td>
    </tr>
</table>
</body>
</html>