{block #eshop}
	{ifCurrent Order:cart}
		{include menu.latte}
	{/ifCurrent}

	{snippet cartView}
		{var $thumb = $presenter->getThumb(2)}
		{var $name = "name".$presenter->lang}
		{var $defaultName = "name".$defaultLang}
	
		<div id="cart">
			<table class="table">
				<thead>
					<th></th>
					<th>{_'Název'}</th>
					<th>{_'Cena/MJ'}</th>
					<th>{_'Množství'}</th>
					<th>{_'Celkem'}</th>
				</thead>
				<tbody>
					{if count($presenter["cart"]->products)}
						{foreach $presenter["cart"]->products as $product}
							<tr>
								{if !$product->trash}
									{var $image = $presenter->getParentProduct($product->products_id)}
									{var $image = $image->galleries->related("galleries_images")->where("visibility", 1)->order("position ASC")->fetch()}
									
									<td>
										{if $image && $thumb}
											<img src="{$basePath}/files/galleries/{$thumb}_g{$image->galleries_id}-{$image->name}">
										{/if}
									</td>															
									<td>
										{if $user->loggedIn}
											{$product->products->$name ?: ($product->products->$defaultName ?: $product->products->name)}
										{else}
											{$product->productName}
										{/if}<br>
										
										<small>
											<em>{$presenter->getProductProperties($product->products_id)}</em>
										</small>
									</td>
									<td>{$price = $presenter["cart"]->getProductDiscountPrice($product->products_id, $product->price, 1)|number:$decimals:",":" "} {_$currency}</td>
									<td>
										{ifCurrent :FrontEshop:Order:cart}
											{control addToCart-$product->products_id}
										{else}
											{$product->amount}
										{/ifCurrent}									
									</td>
									<td>{$price * $product->amount|number:$decimals:","," "} {_$currency}</td>
								{else}
									<td colspan="4">
										Produkt <strong>{$product->productName}</strong> již není v nabídce!
									</td>
								{/if}								
								
								{ifCurrent Order:cart}
									<td>
										<a href="{plink RemoveFromCart! $product->products_id}" class="text-danger ajax">
											<i class="fa fa-times"></i>
										</a>									
									</td>
								{/ifCurrent}
							</tr>
						{/foreach}
					{else}
						<tr>
							<td colspan="4">Košík je prázdný</td>
						</tr>
					{/if}
				</tbody>
			</table>
			
			{*if isset($summary)}
				<div>
					<div class="left"></div>
					
					<div class="right">
						<div class="bottom">
							<h3 class="name"></h3>
							<p class="subtotal-price">
								Doprava ({$methods->transport->name}): {$methods->transport->price} {_'czk'}
							</p>
							<p class="subtotal-price">
								Platba ({$methods->payment->name}): {$methods->payment->price} {_'czk'}
							</p>
							<p class="subtotal-price">
								Celkem: {$subPrice + $methods->transport->price + $methods->payment->price} {_'czk'}
							</p>
						</div>
					</div>
				</div>
			{/if*}	
				
			{ifCurrent Order:cart}
				<div class="next">
					<p class="pull-right">
						<a href="{plink Order:contact}" class="btn btn-primary">
							{_'Kontaktní údaje'}
						</a>
					</p>
				</div>
			{/ifCurrent}
		</div>
	{/snippet}