{block #eshop}
	<h1 class="h2 no-margin-top">{_"Kontaktní údaje"}</h1>

	{include menu.latte}

	<div id="contact" class="row">
		{if !isset($presenter->partner->id)}
			{if !$presenter->user->isLoggedIn()}
				<div id="login" class="col-sm-6">
					<div class="well">
						<fieldset>
							<legend>{_"Přihlášení"}</legend>
							{control signInForm}
						</fieldset>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="well">
						<fieldset>
							<legend>{_"Jednorázový nákup"}</legend>
							<p>
								{_"Pokud nechcete využít výhody registrovaného uživatele, můžete pokračovat v nákupu bez registrace."}
							</p>
							<p>
								<button class="btn btn-primary" data-toggle="collapse" data-target="#contact-data">{_"Jednorázový nákup"}</button>
								<a href="{dlink Users:registration eshop => $presenter->eshop}" class="btn btn-danger">{_"Registrace"}</a>
							</p>
						</fieldset>
					</div>
				</div>
			{/if}
		{/if}
		
		<div class="clearfix"></div>
		
		<div id="contact-data" class="col-sm-12 collapse {if $user->loggedIn || $presenter['contact']->hasErrors() || (isset($presenter->partner->id) && $user->loggedIn == false)}in{/if}">
			{control contact}
		</div>

		<p class="pull-left inverse-margin-top">
			<a href="{plink Order:cart}" class="h4 sm text-warning no-margin">
				<span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
				</span>
				{_'zpět'}
			</a>
		</p>
	</div>