<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title></title>
</head>

<body style="width: 670px; padding: 0 15px; font-size: 13px; font-family: sans-serif, arial, verdana;">
    {includeblock CustomerEmailBlocks/payment$paymentType.latte}

    {include content}

	<h1 style="font-size: 20px;">Objednávka č. {$order->no}</h1>

	<table style="border-spacing: 0; border: none; width: 100%; font-family: sans-serif; font-size: 13px;">
		<thead>
			<tr>
				<th style="font-size: 17px;" align="left">Fakturační údaje</th>
				<th style="font-size: 17px;" align="left">Údaje pro doručení</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="width: 50%;">
					<table style="border-spacing: 0; border: none; width: 100%; font-family: sans-serif; font-size: 13px;">
						<tbody>
							<tr>
								<th align="left">Jméno a příjmení:</th>
								<td>{$order->name} {$order->surname}</td>
							</tr>
							{if $order->company}
								<tr>
									<th align="left">Firma:</th>
									<td>{$order->company}</td>
								</tr>
							{/if}
							{if $order->ic}
								<tr>
									<th align="left">IČ:</th>
									<td>{$order->ic}</td>
								</tr>
							{/if}
							{if $order->dic}
								<tr>
									<th align="left">DIČ:</th>
									<td>{$order->dic}</td>
								</tr>
							{/if}
							<tr>
								<th align="left">Ulice:</th>
								<td>{$order->street}</td>
							</tr>
							<tr>
								<th align="left">Město:</th>
								<td>{$order->city}</td>
							</tr>
							<tr>
								<th align="left">PSČ:</th>
								<td>{$order->psc}</td>
							</tr>
							<tr>
								<th align="left">Telefon:</th>
								<td>{$order->phone}</td>
							</tr>
							<tr>
								<th align="left">E-mail:</th>
								<td>{$order->email}</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td style="width: 50%;" valign="top">
					<table style="border-spacing: 0; border: none; width: 100%; font-family: sans-serif; font-size: 13px;">
						<tbody>
							<tr>
								<th align="left">Jméno a příjmení:</th>
								<td>
									{if $order->delivery_name}
										{$order->delivery_name} {$order->delivery_surname}
									{else}
										{$order->name} {$order->surname}
									{/if}
								</td>
							</tr>
							<tr>
								<th align="left">Ulice:</th>
								<td>
									{if $order->delivery_street}
										{$order->delivery_street}
									{else}
										{$order->street}
									{/if}
								</td>
							</tr>
							<tr>
								<th align="left">Město:</th>
								<td>
									{if $order->delivery_city}
										{$order->delivery_city}
									{else}
										{$order->city}
									{/if}
								</td>
							</tr>
							<tr>
								<th align="left">PSČ:</th>
								<td>
									{if $order->delivery_psc}
										{$order->delivery_psc}
									{else}
										{$order->psc}
									{/if}
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="width: 50%;">
					<table style="border-spacing: 0; border: none; width: 100%; font-family: sans-serif; font-size: 13px;">
						<tbody>
							<tr>
								<th align="left" style="width: 193px">Poznámka:</th>
								<td>{$order->text}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<h2 style="font-size: 16px; margin-bottom: 15px">Objednané zboží</h2>

	<table style="border-spacing: 0; border: none; width: 100%; font-family: sans-serif; font-size: 13px; margin: 0 0 30px 0;">
		<thead>
			<th align="left">Kód</th>
			<th align="left">Název</th>
			<th align="left">Cena/MJ</th>
			<th align="left">Množství</th>
			<th align="left">Celkem</th>
		</thead>
		<tbody>
			{var $name = "name".$lang}
			{var $defaultName = "name".$defaultLang}

			{foreach $order->related("orders_products") as $product}
				<tr>
					<td>{$product->products->code}</td>
					<td>
						{$product->products->$name ?: ($product->products->$defaultName ?: $product->products->name)}<br>

						<small>
							<em>{$presenter->getProductProperties($product->products->id)}</em>
						</small>
					</td>
					<td>{$price = $product->price / $order->rate|number:$decimals:",":" "}</td>
					<td>{$product->amount}</td>
					<td>{$price * $product->amount|number:$decimals:",":" "}</td>
				</tr>
			{/foreach}
		</tbody>
	</table>

	<table style="border-spacing: 0; border: none; width: 75%; font-family: sans-serif; font-size: 13px;">
		<tbody>
			<tr>
				<th align="left">Zboží:</th>
				<td>{$order->price / $order->rate|number:$decimals:",":" "} {$order->currency}</td>
			</tr>
			<tr>
				<th align="left">Doprava a platba ({$methods[$order->transport_id]} + {$methods[$order->payment_id]}):</th>
				<td>{$order->transport / $order->rate|number:$decimals:",":" "} {$order->currency}</td>
			</tr>
			<tr>
				<th></th>
				<td style="font-size: 20px;">
					<strong>
						{($order->price + $order->transport) / $order->rate|number:$decimals:",":" "} {$order->currency}
					</strong>
				</td>
			</tr>
		</tbody>
	</table>

	<p>
		Děkujeme Vám a přejeme hezký den.
	</p>
	<p>
		EXPRES MENU, s.r.o. <br>
		Email: <a href="mailto:provoz@expresmenu.com">provoz@expresmenu.com</a> <br>
		Tel.: +420 499 819 219 (Po-Pá; 6.00 - 14.00)
	</p>
	<p>
		(TENTO E-MAIL BYL VYGENEROVÁN AUTOMATICKY. V PŘÍPADĚ DOTAZŮ A PŘIPOMÍNEK K OBJEDNÁVCE NÁS MŮŽETE KONTAKTOVAT NA: <a href="mailto:provoz@expresmenu.com">provoz@expresmenu.com</a>)
	</p>
</body>
</html>