{var $order = $user->loggedIn ? $presenter['cart']->tempOrder : $presenter['cart']->order}

<ul id="order-levels" class="nav nav-pills nav-justified">
	<li class="level first {ifCurrent Order:cart}active{/ifCurrent}">
		<a href="{plink :FrontEshop:Order:cart}" class="h4 no-margin">
			{_'výčet objednávky'}
		</a>
	</li>
	<li class="level second {ifCurrent Order:contact}active{/ifCurrent}">
		<a href="{plink :FrontEshop:Order:contact}" class="h4 no-margin text-lowercase">
			{_'Kontaktní údaje'}
		</a>
	</li>
	{if !$presenter->partner->id}
		<li class="level third {if !$order || $order->name == null}disabled{/if} {ifCurrent Order:transport}active{/ifCurrent}">
			<a href="{plink :FrontEshop:Order:transport}" class="h4 no-margin text-lowercase">
				{_'Doprava a platba'}
			</a>
		</li>
	{/if}
	<li class="level fourth {if !$order || $order->transport_id == null || $order->name == null}disabled{/if} {ifCurrent Order:summary}active{/ifCurrent}">
		<a href="{plink :FrontEshop:Order:summary}" class="h4 no-margin text-lowercase">
			{_'Souhrn'}
		</a>
	</li>
</ul>