{block #eshop}
	{if $response}
		<div id="order-success" class="alert alert-success">
			Objednávka byla v pořádku odeslána a zaplacena
		</div>
	{else}
		<div id="order-success" class="alert alert-danger">
			Platba neproběhla úspěšně
		</div>
	{/if}

	{if $order}
		{include conversion.latte order => $order}
	{/if}