{block #eshop}
	<h1 class="h2 no-margin-top">{_"Souhrn"}</h1>

	{include menu.latte}

	<div id="contact" class="row">
		<div id="invoice" class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">{_"Fakturační údaje"}</span>
				</div>
				<div class="panel-body">			
					<table class="table-condensed no-margin">
						<tbody>
							<tr>
								<th>{_"Jméno a příjmení"}:</th>
								<td>{$order->name} {$order->surname}</td>
							</tr>
							{if $order->company}
								<tr>
									<th>{_"Firma"}:</th>
									<td>{$order->company}</td>
								</tr>
							{/if}
							{if $order->ic}
								<tr>
									<th>{_"IČ"}:</th>
									<td>{$order->ic}</td>
								</tr>
							{/if}
							{if $order->dic}
								<tr>
									<th>{_"DIČ"}:</th>
									<td>{$order->dic}</td>
								</tr>
							{/if}
							<tr>
								<th>{_"Ulice"}:</th>
								<td>{$order->street}</td>
							</tr>
							<tr>
								<th>{_"Město"}:</th>
								<td>{$order->city}</td>
							</tr>
							<tr>
								<th>{_"PSČ"}:</th>
								<td>{$order->psc}</td>
							</tr>
							<tr>
								<th>{_"Telefon"}:</th>
								<td>{$order->phone}</td>
							</tr>
							<tr>
								<th>{_"E-mail"}:</th>
								<td>{$order->email}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div id="delivery" class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">{_"Údaje pro doručení"}</span>
				</div>
				<div class="panel-body">			
					<table class="table-condensed">
						<tbody>
							<tr>
								<th>{_"Jméno a příjmení"}:</th>
								<td>
									{if $order->delivery_name}
										{$order->delivery_name} {$order->delivery_surname}
									{else}
										{$order->name} {$order->surname}
									{/if}
								</td>
							</tr>
							<tr>
								<th>{_"Ulice"}:</th>
								<td>
									{if $order->delivery_street}
										{$order->delivery_street}
									{else}
										{$order->street}
									{/if}
								</td>
							</tr>
							<tr>
								<th>{_"Město"}:</th>
								<td>
									{if $order->delivery_city}
										{$order->delivery_city}
									{else}
										{$order->city}
									{/if}
								</td>
							</tr>
							<tr>
								<th>{_"PSČ"}:</th>
								<td>
									{if $order->delivery_psc}
										{$order->delivery_psc}
									{else}
										{$order->psc}
									{/if}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		{if isset($order->ŧext) && !empty($order->text)}
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="h4">{_"Poznámka"}</span>
					</div>
					<div class="panel-body">
						{$order->text}
					</div>
				</div>
			</div>
		{/if}
	</div>
	
	{include cart.latte}	
	
	<div class="row">		
		<div class="col-sm-6 col-sm-offset-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>
						{_"Zboží"}: <span class="pull-right">{$order->price / $order->rate|number:$decimals:",":" "} {_$currency}</span> <br />
						{_"Doprava a platba"}: <span class="pull-right">{snippet transportPrice}{$order->transport / $order->rate|number:$decimals:",":" "} {_$currency}{/snippet}</span> <br /> <br />
						<div class="pull-right h4">{snippet totalPrice}<strong>{($order->price + $order->transport) / $order->rate|number:$decimals:",":" "} {_$currency}</strong>{/snippet}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="next">
		<p class="pull-left">
			<a href="{plink Order:transport}" class="h4 sm text-warning no-margin">
				<span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
				</span>
				{_'zpět'}
			</a>
		</p>

		<p class="pull-right">
			<a href="{plink Order:send}" class="h4 sm text-warning no-margin">
				{_'odeslat objednávku'}
				<span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</p>
	</div>