{block #content}
	{include ../Content/menu.latte}
	
	<div class="commonpage">
		<div class="col-sm-12 {if $rightbar}col-md-8 col-lg-9{/if}">	
			{include menu.latte}
		
			<script>loadTinyMCE()</script>
			
			{if $presenter->editor}
				{control langs}
			{/if}
			
			<div class="content">
				<div class="tab-content">
		  			<div class="tab-pane active" id="lang-cs">
		  				{control addForm-cs}
		  			</div>
		  			
		  			{foreach $presenter->langs as $lang}
		  				<div class="tab-pane" id="lang-{$lang->key}">
		  					<p class="copy grid text-right">
		  						<a href="{plink Copy! lang => $lang->key}" class="btn btn-default btn-xs">
		  							Zkopírovat obsah z české mutace
		  						</a>
		  					</p>
		  				
		  					{control addForm-{$lang->key}}
		  				</div>
		  			{/foreach}
		  		</div>		
				
				{if $presenter->editor && $presenter->section->versions}
					{control versions}
				{/if}
			</div>
		</div>
		
		{if $rightbar}
		<div class="hidden-sm col-md-4 col-lg-3">
			{if $settings->seo_assist}
				{control seo}
			{/if}
		</div>
		{/if}
	</div>